@model SVG_Restaurants.Models.Customer

@{
    ViewData["Title"] = "Edit";
}


<style type="text/css">
    body {
        background-color: #A9927D;
    }
</style>

@if (ViewBag.submissionSuccess == true)
    {
        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
            <span class="font-medium">Successfully updated details!</span>
        </div>
    }

<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <div class="mb-8">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Profile
            </h2>
            <p class="text-sm text-gray-600 dark:text-gray-400">
                Manage your name, password and account settings.
            </p>
        </div>

        <form method="post" id="form" asp-action="Edit">
            <!-- Grid -->
            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--Hidden ID-->
                <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />

                <!-- First Name -->
                <div class="sm:col-span-3">
                    <label asp-for="FirstName" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        First name
                    </label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="FirstName" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter first name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <!-- Last Name -->
                <div class="sm:col-span-3">
                    <label asp-for="LastName" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Last name
                    </label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="LastName" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter last name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="sm:col-span-3">
                    <label asp-for="Email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Email
                    </label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="Email" type="email" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Username -->
                <div class="sm:col-span-3">
                    <label asp-for="Username" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Username
                    </label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="Username" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="sm:col-span-3">
                    <label asp-for="Password" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Password
                    </label>
                </div>
                <div class="sm:col-span-9">
                    <div class="space-y-2">
                        <input asp-for="Password" type="password" value="" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter current password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="NewPassword" type="password" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter new password">
                    </div>
                </div>

                <!-- Phone number -->
                <div class="sm:col-span-3">
                    <label asp-for="PhoneNumber" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                        Phone Number
                    </label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="PhoneNumber" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter phone number">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <!-- End Grid -->

            <div class="mt-5 flex justify-end gap-x-2">
                <a asp-controller="Home" asp-action="Index" asp-route-CustomerId="@Model.CustomerId" id="backbtn"class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                    Go back
                    <span id="loading" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-black rounded-full" style="display: none;" aria-label="Loading"></span>
                </a>
                <script>
                    document.getElementById('backbtn').addEventListener('click', function (e) {

                        this.disabled = true;

                        document.getElementById('loading').style.display = 'inline-block';

                        window.location.href = '/Home/Index?CustomerId=@Model.CustomerId';

                    });

                </script>

                <button type="submit" value="Save" id="edit" class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    Save changes
                    <span id="save" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-white rounded-full" style="display: none;" aria-label="Loading"></span>

                </button>
                <script>
                    document.getElementById('edit').addEventListener('click', function (e) {

                        this.disabled = true;

                        document.getElementById('save').style.display = 'inline-block';

                        setTimeout(function () {
                            document.querySelector('form').submit();
                        }, 300);
                    });

                </script>


            </div>
        </form>
    </div>
    <!-- End Card -->
</div>
<!-- End Card Section -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}