
<body class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Customers Login</h1>
    <div class="row col-4">
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus />
    </div>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required/>
    <a type="button" asp-action="Create" class="btn btn-outline-primary">Create Account</a>
</body>