@model SVG_Restaurants.ViewModels.UserCredentialsVM;
    <style type="text/css">
        body {
            background-color: #A9927D;
        }
    </style>
    <body class="">
        <main class="w-full max-w-md mx-auto p-6">
            <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <div class="p-4 sm:p-7">
                    <div class="text-center">
                        <div class="mt-5">
                            <!--FORM-->
                            <form method="post" asp-controller="Customers" asp-action="Index">
                                <div class="grid gap-y-4">
                                    <div class="row justify-content-center">
                                        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Customers Login</h1>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                                        Don't have an account?
                                        <a class="text-blue-600 decoration-2 hover:underline font-medium" asp-action="Create">
                                            Sign up here
                                        </a>
                                    </p>
                                    <div class="relative">
                                        <input type="text" asp-for="username" id="inputUsername" class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" placeholder="Username" id="formInput" required autofocus />
                                    </div>
                                    <div class="relative" id="input">
                                        <input type="password" asp-for="password" id="inputPassword" class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" placeholder="Password" id="formInput" required />
                                    </div>

                                    <button asp-controller="Customers" asp-action="Index" type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" id="formButton">Sign in</button>
                                    <a type="button" asp-controller="Home" asp-action="Index" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-red-100 border border-transparent font-semibold text-red-500 hover:text-black hover:bg-red-100 focus:outline-none focus:ring-2 ring-offset-white focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" id="returnButton">
                                        Return to home page
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @if (!string.IsNullOrEmpty(Model.errorMessage))
        {
            <div class="alert alert-danger">
                @Model.errorMessage
            </div>
        }
    </body>