@model SVG_Restaurants.ViewModels.RedeemViewModel

@{
    ViewData["Title"] = "Redeem";
    string cID = Context.Request.Query["customerID"];

}


<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <form asp-action="RedeemPoints" method="post">
        <!-- Card -->
        <input type="hidden" asp-for="CustomerId" value="@Model.customer.CustomerId" />

        <div class="bg-white rounded-xl shadow dark:bg-slate-900">
            <div class="relative h-40 rounded-t-xl bg-[url('../svg/component/abstract-bg-1.svg')] bg-no-repeat bg-cover bg-center">
                <div class="absolute top-0 right-0 p-4">
                </div>
            </div>


            <div class="pt-0 p-4 sm:pt-0 sm:p-7">
                <!-- Grid -->
                <div class="space-y-4 sm:space-y-6">
                    <label for="af-submit-app-project-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-gray-200">
                        Points Available: @Model.customer.LoyaltyPoints
                    </label>
                    <div class="space-y-2">
                      

                        <p class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-gray-200"> Redeem Points</p>

                        <input asp-for=PointsToRedeem id="af-submit-app-project-name" type="number" class="py-2 px-3 pr-11 block  border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter number of points" min="500" max="@Model.customer.LoyaltyPoints">
                    </div>

@*
                    <div class="space-y-2">
                        <label for="af-submit-app-description" class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-gray-200">
                            Description
                        </label>

                        <textarea id="af-submit-app-description" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" rows="6" placeholder="A detailed summary will better explain your products to the audiences. Our users will see this in your dedicated product page."></textarea>
                    </div>*@
                </div>
                <!-- End Grid -->

                <div class="mt-5 flex justify-center gap-x-2">
                    <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                        Redeem
                    </button>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </form>
</div>
<!-- End Card Section -->




