@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style type="text/css">
    body {
        background-color: #fcfcfc;
    }

    .row {
        display: flex;
    }

    .column {
        padding: 20px;
    }

        .column:nth-child(odd) {
            background-color: #f0f0f0;
        }

        /* Adjust the width of the left column */
        .column:nth-child(1) {
            flex: 1; /* Right column will take the remaining space */
        }

        .column:nth-child(2) {
            flex: 2; /* Adjust the flex value to make it wider */
        }
</style>

<body>

    <div class="text-center">

        <div class="flex justify-center">
            <!-- Your image is placed within this container -->
            <img src="/img/BambooLeaf.png" alt="Image of Bamboo Leaf Restaurant Logo" class="h-9" />

        </div>
        <p class="text-xl text-sm mb-2 dark:text-black" style="font-family: Baskerville">Modern Asian Fusion in the Heart of Adelaide</p>
    </div>


    <div class="text-4xl leading-8" style="color:#fcfcfc">SPACING</div>


    <!-- Rest of your page content goes here -->

    <div class="row">
        <div class="column text-center">
            <img src="/img/Bamboo Restaurant.jpg" />
            <h2 class="text-xl leading-8 text-gray-700"><b>FAQs</b></h2>
            <p class="text-l leading-8 text-gray-700">
                25 Gouger Street
                Adelaide
            </p>
            <p class="text-l leading-8 text-gray-700"><b>Open:</b> Tuesdays to Sundays</p>
            <br />
            <p class="text-2xl leading-8 text-gray-700"><b>Special Banquets</b></p>
            <br />
            <p class="text-xl leading-8 text-gray-700">
                <b>Share Banquet $55PP</b>
            </p>

            <p class="text-l leading-6 text-gray-700">
                (min 4 people)
                <br />
                <br />
                Satay Chicken
                <br />
                Steam prawn dumplings
                <br />
                S+P Squid
                <br />
                Roast Pork
                <br />
                Sticky pork
                <br />
                Asian green
                <br />
            </p>
            <br />
            <p class="text-xl leading-8 text-gray-700">
                <b>Feast Banquet $70PP</b>
            </p>
            <p class="text-l leading-6 text-gray-700">
                (min 4 people)
                <br />
                <br />
                Crispy beef
                <br />
                Satay chicken
                <br />
                S+P Eggplant
                <br />
                Crying Tiger Salad
                <br />
                Steam prawn dumplings
                <br />
                Ribs
                <br />
                Barramundi curry
            </p>
        </div>

        <div class="column text-center">
            <h2 class="text-3xl leading-8" style="color: #E1C16E; margin-bottom:50px"><b>Make a reservation</b></h2>

            <div class="mx-auto w-full max-w-[550px]">
                <a href="~/Reservations/Create?customerID=@Model.CustomerID&restaurantID=1" class="btn btn-outline">Reserve</a>
            </div>
        </div>
    </div>
</body>