@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style type="text/css">
    body {
        position: relative;
        background-image: url('/img/Bamboo Restaurant.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }

    .background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/Bamboo Restaurant.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px);
        z-index: -1;
    }

    #fusion-container {
        background-color: #fcfcfc;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px;
        border-radius: 10px;
    }


    .btn-custom {
        width: 600px;
        height: 50px;
        font-size: 18px;
        background-color: #fcfcfc;
        font-family: sans-serif;
        font-weight: bold;
        color: #000000;
        border: 2px solid #fcfcfc;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s; /* Transition for hover effect */
    }


        .btn-custom:hover {
            background-color: #e3e3e3;
            color: #000000;
            border: 2px solid #e3e3e3;
            transition: background-color 0.3s, color 0.3s; /* Smooth transition back to normal */
        }



    .content-container {
        border: none;
        padding: 20px;
        margin: 20px auto;
        max-width: 600px;
        max-height: 600px;
        border-radius: 20px;
        background-color: rgba(252,252,252,0.9);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .row {
        display: flex;
    }

    .column {
        padding: 20px;
    }




        .column:nth-child(1) {
            flex: 1;
        }

        .column:nth-child(2) {
            flex: 1;
        }

    label {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 30px;
    }

    input {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .checked {
        color: orange;
    }

    .row span {
        display: inline-block;
    }
</style>

<body>

    <!-- Container for the page content -->
    <div class="background-container"></div>

    <div class="row" style="padding-bottom: 20px;">
        <div class="text-center" id="fusion-container">

            <div class="flex justify-center">
                <!-- Your image is placed within this container -->
                <img src="/img/BambooLeaf.png" alt="Image of Bamboo Leaf Restaurant Logo" class="h-9" />
            </div>
            <p class="text-xl text-sm mb-2 dark:text-black" style="font-family: Baskerville">Modern Asian Fusion in the Heart of Adelaide</p>
        </div>
    </div>

    <div class="row">
        <div class="column text-center" style="flex: 1; ">

            <div class="row content-container">

                <h2 class="text-xl font-semibold text-sm mb-2" style="font-family: Cambria; color: #000000 "><b>You can find us at:</b></h2>
                <p class="text-l font-semibold text-sm mb-2 " style="font-family: Cambria; color: #000000">
                    25 Gouger Street
                    Adelaide
                </p>
                <br />
                <p class="text-l font-semibold text-sm mb-2" style="font-family: Cambria; color: #000000">
                    Open:<br />
                    Tuesdays to Sundays<br />
                </p>
                <br />
                <div style="margin-top: 20px; margin-bottom: 20px; border-bottom: 1px solid #000;"></div>
                <br />
                <p class="text-xl font-semibold text-sm mb-2 " style="font-family: Cambria; color: #000000"><b>-Special Banquets-</b></p>
                <br />
                <div class="row">
                    <div class="col-6">
                        <h2 class="font-semibold text-sm mb-1 " style="font-family: Cambria; color: #000000; font-size: 1.5em;">
                            <b>Share Banquet $55PP</b>
                        </h2>

                        <p class="text-2xl font-semibold text-sm mb-1 " style="font-family: Cambria; color: #000000">
                            <b>(min 4 people)</b>
                            <br />
                            <br />
                            <div class="text-xl font-semibold text-sm mb-1" style="font-family: Cambria;">
                                <span>Satay Chicken</span> <br />
                                <span>Steam prawn dumplings</span> <br />
                                <span>S+P Squid</span> <br />
                                <span>Roast Pork</span> <br />
                                <span>Sticky Pork</span> <br />
                                <span>Asian green</span> <br />
                            </div>
                        </p>
                    </div>

                    <div class="col-6">
                        <h2 class="font-semibold text-sm mb-1 " style="font-family: Cambria; color: #000000; font-size: 1.5em;">
                            <b>Feast Banquet $70PP</b>
                        </h2>

                        <p class="text-2xl font-semibold text-sm mb-1 " style="font-family: Cambria; color: #000000">
                            <b>(min 4 people)</b>
                            <br />
                            <br />
                            <div class="text-xl font-semibold text-sm mb-1" style="font-family: Cambria;">
                                <span>Crispy beef</span> <br />
                                <span>Satay chicken</span> <br />
                                <span>S+P Eggplant</span> <br />
                                <span>Crying Tiger Salad</span> <br />
                                <span>Steam prawn dumplings</span> <br />
                                <span>Ribs</span> <br />
                                <span>Barramundi curry</span> <br />
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="column text-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1;">
                <div class="flex flex-col justify-center items-center h-[10vh]">
                    <div style="margin-top: 0px;">
                        <a href="~/Home/Index?customerID=@Model.CustomerID" id="back" class="btn btn-custom" style="margin-top: 1px; font-family: Cambria; width: 200px; margin-right: 20px;">
                            Go Back
                            <span id="loading" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-black rounded-full" style="display: none;" aria-label="Loading"></span>

                            </a>

                        <script>
                            document.getElementById('back').addEventListener('click', function (e) {
                                e.preventDefault();

                                this.disabled = true;

                                document.getElementById('loading').style.display = 'inline-block';

                                window.location.href = '/Home/Index?customerID=@Model.CustomerID';

                            });

                        </script>

                        <a href="~/Reservations/Create?customerID=@Model.CustomerID&restaurantID=1" id="book" class="btn btn-custom" style="margin-top: 1px; font-family: Cambria; width: 250px;">
                            Make a Reservation
                            <span id="reservation" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-black rounded-full" style="display: none;" aria-label="Loading"></span>

                            </a>
                        <script>
                            document.getElementById('book').addEventListener('click', function (e) {
                                e.preventDefault();

                                this.disabled = true;

                                document.getElementById('reservation').style.display = 'inline-block';

                                window.location.href = '/Reservations/Create?customerID=@Model.CustomerID&restaurantID=1';

                            });

                        </script>
                    </div>

                </div>
            </div>

            <!-- Reviewsss -->

            <div style="margin-top: 100px; margin-bottom: 20px; text-align: center; position: relative;">
                <p class="text-l font-semibold italic text-sm" style="font-family: Sans-serif; color:#F5F5DC; display: inline-block; padding: 0 10px; position: relative; z-index: 1;">Restaurant Reviews</p>
                <p style="position: absolute; width: 50%; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; border-bottom: 1px solid #000;"></p>
            </div>

            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6" style="margin-top: 30px; margin-bottom: 50px;">
                <!-- Card -->
                <div class="flex h-auto">
                    <div class="flex flex-col bg-white rounded-xl dark:bg-slate-900" style="opacity: 0.7;">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
                                " BambooLeaf is my new favorite spot in Adelaide! The menu offers such a delightful blend of Asian flavors that I can't resist. The mix of fresh ingredients and savory sauces was perfection. "
                            </p>
                        </div>

                        <div style="padding-left: 30px;">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                        </div>
                        <br />

                        <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]" src="https://mymodernmet.com/wp/wp-content/uploads/2019/09/100k-ai-faces-5.jpg" alt="Jen">
                                </div>

                                <div class="grow ml-3">
                                    <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200">
                                        Kimberly Worf
                                    </p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">
                                        JB | Gold Customer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
                <!-- Card -->
                <div class="flex h-auto">
                    <div class="flex flex-col bg-white rounded-xl dark:bg-slate-900" style="opacity: 0.7;">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
                                "I stumbled upon BambooLeaf last week, and I can't believe I hadn't discovered it sooner. The Pad Thai here is seriously addictive. The cozy atmosphere and friendly staff was nice!"
                            </p>
                        </div>
                        <div style="padding-left: 30px;">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <br />

                        <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Image Description">
                                </div>

                                <div class="grow ml-3">
                                    <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200">
                                        Hey Mickey
                                    </p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">
                                        You're so fine
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
                <!-- Card -->
                <div class="flex h-auto">
                    <div class="flex flex-col bg-white rounded-xl dark:bg-slate-900" style="opacity: 0.7;">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
                                " I had the Red Curry, and the richness of the coconut milk paired with the bold spices made my taste buds dance. The location in the heart of Adelaide adds to the charm. I'll definitely be back!"
                            </p>
                        </div>
                        <div style="padding-left: 30px;">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <br />

                        <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]" src="https://images.unsplash.com/photo-1579017331263-ef82f0bbc748?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=900&h=900&q=80" alt="Image Description">
                                </div>

                                <div class="grow ml-3">
                                    <p class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200">
                                        Shakira
                                    </p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">
                                        hot sauce lover | Happy customer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
</body>