@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style type="text/css">
    body {
        background-color: #fff8dc;
    }


    .row {
        display: flex;
    }

    .column {
        padding: 20px;
    }

        .column:nth-child(odd) {
            background-color: #f5edcc;
        }

        /* Adjust the width of the left column */
        .column:nth-child(1) {
            flex: 1; /* Right column will take the remaining space */
        }

        .column:nth-child(2) {
            flex: 2; /* Adjust the flex value to make it wider */
        }
</style>

<body>

    <div class="text-center">

        <div class="flex justify-center">
            <!-- Your image is placed within this container -->
            <img src="/img/LaOeste.png" alt="Image of La Oeste Restaurant Logo" class="h-9" />

        </div>
        <p class="text-xl text-sm mb-2 dark:text-black" style="font-family: Baskerville">Vibrant Brazilian in the heart of Adelaide</p>
    </div>

    <!-- Rest of your page content goes here -->
    <div class="row">
        <div class="column text-center">
            <img src="/img/Brazilian Restaurant.jpg" />
            <h2 class="text-xl leading-8 text-gray-700"><b>FAQs</b></h2>
            <p class="text-l leading-8 text-gray-700">
                40 120 North Terrace
                Adelaide
            </p>

            <br />
            <p class="text-l leading-8 text-gray-700">
                <b>Sittings:</b>
            </p>
            <p class="text-l leading-6 text-gray-700">
                Brunch 10AM-12PM <br />
                Lunch 12-2PM <br />
                First dinner 5-7PM <br />
                Second dinner 7-9PM <br />
            </p>
            <br />
            <p class="text-l leading-8 text-gray-700"><b>Open:</b> Wednesday to Sunday</p>
            <br />
        </div>
        <div class="column text-center">
            <h2 class="text-3xl leading-8" style="color: #E1C16E; margin-bottom:50px"><b>Make a reservation</b></h2>

            <div class="mx-auto w-full max-w-[550px]">
                <a href="~/Reservations/Create?customerID=@Model.CustomerID&restaurantID=2" class="btn btn-outline">Reserve</a>
            </div>
        </div>
    </div>
</body>