@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mexikana";
}

<body>

    <!-- Container for the page content -->
    <div class="relative">
        <!-- Your image is placed within this container -->
        <img src="/img/Mexikana.png" alt="Image of Mexicana Restaurant Logo" class="h-32" />

    </div>

    <!-- Rest of your page content goes here -->
    <div>
        <!-- Your page content -->
    </div>

</body>