@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mexikana";
}

<style type="text/css">
    body {
        background-color: #dae1e6;
    }
</style>

<body>

    <!-- Container for the page content -->
    <div class="relative">
        <!-- Your image is placed within this container -->
        <img src="/img/Mexikana.png" alt="Image of Mexicana Restaurant Logo" class="h-32" />

    </div>

    <div class="text-center">
        <h1 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
            Welcome to Mexicana!
        </h1>
    </div>
    <!-- Rest of your page content goes here -->
    <div>
        <!-- Your page content -->
    </div>

</body>