@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mexikana";
}

<style type="text/css">
    body {
        background-color: #dae1e6;
    }


    .row {
        display: flex;
    }

    .column {
        padding: 20px;
    }

        .column:nth-child(odd) {
            background-color: #c4ccd2;
        }

        /* Adjust the width of the left column */
        .column:nth-child(1) {
            flex: 1; /* Right column will take the remaining space */
        }

        .column:nth-child(2) {
            flex: 2; /* Adjust the flex value to make it wider */
        }
</style>

<body>

        <!-- Your image is placed within this container -->
    <img src="/img/Mexikana.png" alt="Image of Mexicana Restaurant Logo" style="height: 9rem;" />

    <div class="text-center">
        <h1 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
            Welcome to Mexikana!
        </h1>
        <p class="mt-6 text-xl leading-8 text-gray-700"><i>Korean Mexican fusion for the hipsters.</i></p>
    </div>
    <!-- Rest of your page content goes here -->
    <div class="row">
        <div class="column text-center">
            <img src="/img/Mexican Restaurant.jpg" />
            <h2 class="text-xl leading-8 text-gray-700"><b>FAQs</b></h2>
            <p class="text-l leading-8 text-gray-700">
                40 Fullarton Road
                Norwood
            </p>

            <br />
            <p class="text-l leading-8 text-gray-700">
                <b>Sittings:</b>
            </p>
            <p class="text-l leading-6 text-gray-700">
                First dinner 5-7PM <br />
                Second dinner 7-9PM <br />
                Late night dinner 9-11PM <br />

            </p>
            <br />
            <p class="text-l leading-8 text-gray-700"><b>Open:</b> Monday to Saturday</p>
            <br />
            <p class="text-2xl leading-8 text-gray-700"><b>Special Banquets</b></p>
            <br />
            <p class="text-xl leading-8 text-gray-700">
                <b>Share Banquet $35PP</b>
            </p>

            <p class="text-l leading-6 text-gray-700">
                (min 4 people)
                <br />
                <br />
                Papas Fritas <br />
                Korean Fried Chicken Tacos <br />
                Smokey chicken <br />
                Taquitos dorados <br />
                Nachos <br />
            </p>
        </div>
        <div class="column text-center">
            <h2 class="text-3xl leading-8 text-gray-700"><b>Make a reservation</b></h2>
        </div>
    </div>

</body>


<script>
    //const disabledDates = [
    //    new Date("2023-09-10"),
    //    new Date("2023-09-15"),
    //    new Date("2023-09-20"),
    //    // Add more dates as needed
    //];

    function getSundaysInYear(year) {
        const sundays = [];
        const startDate = new Date(year, 0, 1); // January 1st of the given year
        const endDate = new Date(year, 11, 31); // December 31st of the given year

        for (let currentDate = startDate; currentDate <= endDate; currentDate.setDate(currentDate.getDate() + 1)) {
            if (currentDate.getDay() === 0) {
                const formattedDate = new Date(`${year}-${(currentDate.getMonth() + 1).toString().padStart(2, '0')}-${currentDate.getDate().toString().padStart(2, '0')}`);
                sundays.push(formattedDate);
            }
        }

        return sundays;
    }
    const year = 2023;
    const disabledDates = getSundaysInYear(year);

    console.log(disabledDates);

   

</script>
<div class="flatpickr container mx-auto col-span-6 sm:col-span-6 mt-5">
    <label for="datetime" class="flex-grow block font-medium text-sm text-gray-700 mb-1">Date and Time</label>
    <div class="flex align-middle align-content-center">
        <input type="text"
               id="datetime"
               data-input
               placeholder="Select.."
               class="block w-full px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-l-md shadow-sm">
        <a class="h-11 w-10 input-button cursor-pointer rounded-r-md bg-transparent border-gray-300 border-t border-b border-r"
           title="clear" data-clear>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mt-2 ml-1" viewBox="0 0 20 20" fill="#c53030">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/themes/airbnb.min.css">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

<script>
    // Set the maximum time for all days to 5:00 PM
    const maxTime = new Date();
    maxTime.setHours(22, 0, 0, 0); // 10PM

    const minTime = new Date();
    minTime.setHours(17, 0, 0, 0); // 10PM

    // Initialize Flatpickr with date and time options
    flatpickr("#datetime", {
        enableTime: true,
        dateFormat: 'M j, Y h:i K',
        minDate: 'today', // Set the minimum date to today
        disable: disabledDates, // Specify the array of disabled dates
        minTime: minTime, // Set the min time for all days
        maxTime: maxTime // Set the maximum time for all days
    });

</script>