@model SVG_Restaurants.Models.Guest

@{
    ViewData["Title"] = "Create";
    ViewBag.RestaurantIId = Context.Request.Query["RestaurantId"];
    ViewBag.WorkerId = Context.Request.Query["WorkerId"];


}

<style type="text/css">
    body {
        background-color: #A9927D;
    }
</style>
@*<h1>Create</h1>


    <h4>Guest</h4>*@
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <div class="mb-8">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Create a Guest Profile
            </h2>
        </div>


        <form asp-action="Create" id="form">

            <input type="hidden" name="RestaurantId" value="@ViewBag.RestaurantIId" />
            <input type="hidden" name="WorkerId" value="@ViewBag.WorkerId" />

            <!-- Grid -->
            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- First Name -->
                <div class="sm:col-span-3">
                    <label asp-for="FirstName" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">First Name</label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="FirstName" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter first name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <!-- Last Name -->
                <div class="sm:col-span-3">
                    <label asp-for="LastName" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">Last Name</label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="LastName" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="sm:col-span-3">
                    <label asp-for="Email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200"></label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="Email" type="email" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Phone Number -->
                <div class="sm:col-span-3">
                    <label asp-for="PhoneNumber" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">Phone Number</label>
                </div>
                <div class="sm:col-span-9">
                    <input asp-for="PhoneNumber" id="PhoneNumberInput" class="py-2 px-3 pr-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Enter phone number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

            </div>
            <div class="mt-5 flex justify-end gap-x-2">
                @if (!string.IsNullOrEmpty(ViewBag.WorkerId))
                {
                    <a asp-controller="RestaurantWorkers" asp-action="Home" asp-route-WorkerId="@ViewBag.WorkerId" asp-route-Restaurantid="@ViewBag.RestaurantIId" class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                        Back to Home Page
                        <span id="home" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-black rounded-full" style="display: none;" aria-label="Loading"></span>

                    </a>
                }
                else
                {
                    <a asp-controller="Home" id="back" asp-action="Index" class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                        Back to Home Page
                        <span id="home" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-black rounded-full" style="display: none;" aria-label="Loading"></span>

                    </a>
                }
                <script>
                    document.getElementById('back').addEventListener('click', function (e) {
                        e.preventDefault();

                        this.disabled = true;

                        document.getElementById('home').style.display = 'inline-block';

                        window.location.href = '/Home/Index';

                    });

                </script>
                <div class="form-group">
                    <input type="submit"  id="createBtn" value="Create" class="btn py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" />
                    <span id="create" class="animate-spin inline-block w-4 h-4 border-[3px] border-current border-t-transparent text-black rounded-full" style="display: none;" aria-label="Loading"></span>
                </div>
                <script>
                    document.getElementById('createBtn').addEventListener('click', function (e) {

                        this.disabled = true;

                        document.getElementById('create').style.display = 'inline-block';

                        setTimeout(function () {
                            document.querySelector('form').submit();
                        }, 300);
                    });

                </script>
            </div>
        </form>
    </div>
</div>

<hr />

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>$(document).ready(function () {
            $('#PhoneNumberInput').mask('(+61) 000-000-000');
        });</script>
}



