@model SVG_Restaurants.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


@*Guests number Special Banquets*@
<div class="-mx-3 flex flex-wrap">
       <div class="w-full px-3 sm:w-1/2">
        <div class="">
            <label asp-for="CustomerId"
                   class="mb-3 block text-base font-medium text-[#07074D]">
                Customer
            </label>
                <input asp-for="CustomerId" type="number" name="guest" id="guest" placeholder="5" min="0"
                   class="w-full h-16 appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
        </div>
    </div>
        <div class="w-full px-3 sm:w-1/2">
            <div class="">
                <label asp-for="RestaurantId"
                       class="mb-3 block text-base font-medium text-[#07074D]">
                    Restaurant
                </label>
                <input asp-for="RestaurantId" type="number" name="guest" id="guest" placeholder="5" min="0"
                       class="w-full h-16 appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
        </div>

    <div class="w-full px-3 sm:w-1/2">
        <div class="">
            <label asp-for="NumberOfPeople"
                   class="mb-3 block text-base font-medium text-[#07074D]">
                Number of guests
            </label>
                <input asp-for="NumberOfPeople" type="number" name="guest" id="guest" placeholder="5" min="0"
                   class="w-full h-16 appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
        </div>
    </div>


    <div class="w-full px-3 sm:w-1/2">
        <div class="">
            <label asp-for="BanquetId" class="mb-3 block text-base font-medium text-[#07074D]">
                Special Banquets
            </label>
            <select asp-for="BanquetId"  name="specialBanquets" id="specialBanquets" class="w-full h-16 appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-8 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1]">
                <option value="1">Share Banquet</option>
                <option value="2">Feast Banquet</option>
            </select>
        </div>
    </div>
</div>

@*Special Requests*@
<div class="">
    <label for="specialReq" class="mb-3 block text-base font-medium text-[#07074D] justify-content-start">
        Special Requests?
    </label>
    <input type="text" name="specialReq" id="specialReq" placeholder="I am allergic to nuts"
           class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
</div>

<div class="form-check flex content-start">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="margin-top: 35px; margin-right: 5px">
    <label class="form-check-label block text-base font-medium text-[#07074D]" for="flexCheckDefault">
        Would you like a high chair for your child?
    </label>
</div>

@*Date Time*@
<div class="flex justify-left">
    <div class="flatpickr">
        <label asp-for="ReservationTiming" class="mb-3 block text-base font-medium text-[#07074D] justify-content-start">Date and Time</label>
        <div class="flex align-middle align-content-center">
                <input asp-for="ReservationTiming" type="text" id="datetime" data-input placeholder="Select..."
                   class="block w-30 px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-l-md shadow-sm">
            <a class="h-11 w-10 input-button cursor-pointer rounded-r-md bg-transparent border-gray-300 border-t border-b border-r"
               title="clear" data-clear>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mt-2 ml-1" viewBox="0 0 20 20" fill="#c53030">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
</div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>

<h1>Create</h1>
@*
<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <select asp-for="RestaurantId" class ="form-control" asp-items="ViewBag.RestaurantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class ="form-control" asp-items="ViewBag.AreaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReservationTiming" class="control-label"></label>
                <input asp-for="ReservationTiming" class="form-control" />
                <span asp-validation-for="ReservationTiming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BanquetId" class="control-label"></label>
                <select asp-for="BanquetId" class ="form-control" asp-items="ViewBag.BanquetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeople" class="control-label"></label>
                <input asp-for="NumberOfPeople" class="form-control" />
                <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
