html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}


.btn-outline {
    color: #E4BDBD;
    background-color: #230C0C;
    border-color: #2E1212;
    font-weight: bold;
    letter-spacing: 0.05em;
}

    .btn-outline:hover,
    .btn-outline:active,
    .btn-outline:focus,
    .btn-outline.active {
        background: #E4BDBD;
        color: #2E1212;
        border-color: #E4BDBD;
    }
