html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}


.btn-outline {
    color: #F2F4F3;
    background-color: rgba(94,80,63, 1);
    border-color: #5E503F;
    font-weight: bold;
    letter-spacing: 0.05em;
}

    .btn-outline:hover,
    .btn-outline:active,
    .btn-outline:focus,
    .btn-outline.active {
        background: #362417;
        color: #F2F4F3;
        border-color: #A9927D;
    }

#restaurantCard:hover{
    color:black;
}

#restaurantsLink, #upcomingBookingsLink {
    color: #F2F4F3;
    background-color: rgba(94,80,63, 1);
    border-color: #362417;
    letter-spacing: 0.05em;
}
