@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SGV</h1>
</div>

<div class="row justify-content-end">
    <div class="col-auto" id="customerLoginDiv">
        <a asp-controller="Customers" asp-action="Login" class="btn btn-secondary">Login as Customer</a>
    </div>
    <div class="col-auto" id="staffLogintDiv">
        <a asp-controller="RestaurantWorkers" asp-action="Login" class="btn btn-secondary">Login as Staff</a>
    </div>
    <div class="col-auto" id="logoutDiv" style="display: none;">
        <a asp-controller="RestaurantWorkers" asp-action="Login" class="btn btn-secondary">Log out</a>
    </div>
</div>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Restaurants</a>
        </li>
    </ul>
</body>

@section Scripts {
    <script>// Function to check if a query parameter exists in the URL
    function getQueryParam(parameterName) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.has(parameterName);
    }

    // Check if "CustomerID" parameter is present in the URL
    var customerIdPresent = getQueryParam("CustomerID");

    // Display the logoutDiv if CustomerID is present
    if (customerIdPresent) {
        document.getElementById("logoutDiv").style.display = "block";
        document.getElementById("customerLoginDiv").style.display = "none";
        document.getElementById("staffLogintDiv").style.display = "none";
    }</script>
}