@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SGV</h1>
</div>

<div class="row justify-content-end">
    <div class="col-auto">
    <a asp-controller="Customers" asp-action="Login" class="btn btn-secondary">Login as Customer</a>
    </div>
    <div class="col-auto">
    <a asp-controller="RestaurantWorkers" asp-action="Login" class="btn btn-secondary">Login as Staff</a>
    </div>
</div>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Restaurants</a>
        </li>
    </ul>
</body>